<p-toolbar>
  <div class="p-toolbar-group-left">
  <button pButton type="button" label="Añadir Documento" class="p-button-raised p-button-warning mr-2" icon="pi pi-plus"
      (click)="redirectCreateForm()"></button>
  <button pButton type="button" label="Refrescar" class="p-button-info mr-2" icon="pi pi-refresh"
    (click)="ngOnInit()"></button>
    <button *ngIf="selectedDocument.length>0" pButton type="button" label="Eliminar documento" class="p-button-danger"
      icon="pi pi-trash" (click)="removeAll()"></button>
  </div>
  <div class="p-toolbar-group-right">
    <div class="p-input-icon-right">
      <input type="text" pInputText [formControl]="search" placeholder="Busqueda por nombre">
      <i class="pi pi-search" [ngClass]="{'pi-spin pi-spinner':(loaded$|async)}"></i>
    </div>
  </div>
</p-toolbar>
<p-divider></p-divider>
<h1 class="panel-header text-center">Listado de Documentos</h1>
<p-divider></p-divider>
<p-table dataKey="id" styleClass="p-datatable-gridlines" [value]="document" [columns]="columns" [sortField]="'sort'"
  [loading]="(loaded$|async)!" [(selection)]="selectedDocumentos" [responsive]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th class="text-center">
        <h3>Opciones</h3>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>

      <td *ngFor="let col of columns">
        <!-- Objects -->
        <div *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'availableProject'">
            {{rowData[col.field].nameProyect}}
          </div>
          <div *ngSwitchCase="'name'">
            {{rowData[col.field].identificationCode}}
          </div>
          <!-- <div *ngSwitchCase="'name'">
            {{rowData['name'].identificationCode}}
          </div> -->
          <div *ngSwitchCase="'names'">
            {{rowData['name'].names}}
          </div>
        </div>


        <!--Fields-->
        <div *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'names'">
            {{rowData['name'].names}}
          </div>
          <div *ngSwitchCase="'departureDateProject'">
            {{rowData[col.field]|date}}
          </div>
          <div *ngSwitchCase="'dateEntryProject'">
            {{rowData[col.field]|date}}
          </div>
          <!-- <div *ngSwitchCase="'name'">
            {{rowData['name'].projectCharge
          }}
          </div>
          <div *ngSwitchCase="'name'">
            {{rowData['name'].persons}}
          </div> -->
          <div *ngSwitchDefault>{{rowData[col.field]}}</div>
        </div>
      </td>
      <td class="text-center">
        <div *ngIf="rowData['id']!==authService.auth.id; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <p-splitButton icon="pi pi-ellipsis-v" [model]="actionButtons"
            (onDropdownClick)="selectEvaluation(rowData)"></p-splitButton>
        </ng-template>
        <ng-template #elseBlock>Current Event</ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{messageService.paginatorNoRecordsFound}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="align-items-center">
    </div>
    {{messageService.paginatorTotalRegisters(paginator)}}
  </ng-template>
  <p-paginator [rows]="paginator.limit" [totalRecords]="paginator.totalItems" (onPageChange)="paginate($event)">
  </p-paginator>
</p-table>
<p-paginator [rows]="paginator.limit" [totalRecords]="paginator.totalItems"
(onPageChange)="paginate($event)"></p-paginator>
<!--</p-card>-->
