<app-skeleton *ngIf="isLoadingSkeleton" [type]="'card'"></app-skeleton>
<p-panel
  *ngIf="!isLoadingSkeleton"
  class="p-fluid"
  collapseIcon="pi pi-times"
  [toggleable]="true"
  (collapsedChange)="back()"
>
  <ng-template pTemplate="header">
    <i *ngIf="id === ''" class="pi pi-user-plus mr-2"></i>
    <i *ngIf="id != ''" class="pi pi-user-edit mr-2"></i>
    <h2 class="panel-header">{{ panelHeader }}</h2>
  </ng-template>
  <small [innerHTML]="this.messageService.requiredFields"></small>
  <p-divider></p-divider>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="formgrid grid">
      
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="name" label="Nombre del Trabajador:" [required]="namePersonField"></label>
        <p-dropdown id="name" formControlName="name" dataKey="id" [options]="" optionLabel="availableProjects" [filter]="true"
          filterBy="availableProjects" placeholder="Seleccionar carrera">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="namePersonField.value">
              <div>{{namePersonField.value.availableProjects}}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{item.availableProjects}}
          </ng-template>
        </p-dropdown>
        <small appErrorMessage [errors]="namePersonField.errors" [touched]="namePersonField.touched" [dirty]="namePersonField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="name" label="Proyecto Disponible:" [required]="availableProjectsField"></label>
        <p-dropdown id="name" formControlName="name" dataKey="id" [options]="" optionLabel="availableProjects" [filter]="true"
          filterBy="availableProjects" placeholder="Seleccionar carrera">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="availableProjectsField.value">
              <div>{{availableProjectsField.value.availableProjects}}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{item.availableProjects}}
          </ng-template>
        </p-dropdown>
        <small appErrorMessage [errors]="availableProjectsField.errors" [touched]="availableProjectsField.touched" [dirty]="availableProjectsField.dirty">
        </small>
      </div>


    </div>


  </form>
</p-panel>
