<app-skeleton *ngIf="isLoadingSkeleton" [type]="'card'"></app-skeleton>
<p-panel
  *ngIf="!isLoadingSkeleton"
  class="p-fluid"
  collapseIcon="pi pi-times"
  [toggleable]="true"
  (collapsedChange)="back()"
>
  <ng-template pTemplate="header">
    <i *ngIf="id === ''" class="pi pi-user-plus mr-2"></i>
    <i *ngIf="id != ''" class="pi pi-user-edit mr-2"></i>
    <h2 class="panel-header">{{ panelHeader }}</h2>
  </ng-template>
  <small [innerHTML]="this.messageService.requiredFields"></small>
  <p-divider></p-divider>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="person" label="Nombre del Trabajador:" [required]="personField"></label>
        <p-dropdown id="person" formControlName="person" dataKey="id" [options]="persons" optionLabel="names" [filter]="true"
          filterBy="names" placeholder="Seleccionar empleado">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="personField.value">
              <div>{{personField.value.names}}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{item.names}}
          </ng-template>
        </p-dropdown>
        <small appErrorMessage [errors]="personField.errors" [touched]="personField.touched" [dirty]="personField.dirty">
        </small>
      </div>


      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="availableProject" label="Proyectos:" [required]="availableProjectField"></label>
        <p-dropdown id="availableProject" formControlName="availableProject" dataKey="id" [options]="availableProjects" optionLabel="nameProyect" [filter]="true"
          filterBy="nameProyect" placeholder="Seleccionar carrera">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="availableProjectField.value">
              <div>{{availableProjectField.value.nameProyect}}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{item.nameProyect}}
          </ng-template>
        </p-dropdown>
        <small appErrorMessage [errors]="availableProjectField.errors" [touched]="availableProjectField.touched" [dirty]="availableProjectField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="city" label="Cargo del proyecto:" [required]="projectChargeField"></label>
        <p-dropdown [options]="cargo" [(ngModel)]="selectcargo" optionLabel="name" optionValue="name"
          formControlName="city"></p-dropdown>
        <small appErrorMessage [errors]="projectChargeField.errors" [touched]="projectChargeField.touched" [dirty]="projectChargeField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="dateEntryFoundation" label="Fecha de ingreso a la fundacion:" [required]="dateEntryFoundationField"></label>
        <p-calendar formControlName="dateEntryFoundation" id="dateEntryFoundation" dateFormat="dd/mm/yy"></p-calendar>
        <small appErrorMessage [errors]="dateEntryFoundationField.errors" [touched]="dateEntryFoundationField.touched"
          [dirty]="dateEntryFoundationField.dirty">
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="dateEntryProject" label="Fecha de ingreso al Proyecto:" [required]="dateEntryProjectField"></label>
        <p-calendar formControlName="dateEntryProject" id="dateEntryProject" dateFormat="dd/mm/yy"></p-calendar>
        <small appErrorMessage [errors]="dateEntryProjectField.errors" [touched]="dateEntryProjectField.touched"
          [dirty]="dateEntryProjectField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="departureDateProject" label="Fecha de salida la Proyecto:" [required]="departureDateProjectField"></label>
        <p-calendar formControlName="departureDateProject" id="departureDateProject" dateFormat="dd/mm/yy"></p-calendar>
        <small appErrorMessage [errors]="departureDateProjectField.errors" [touched]="departureDateProjectField.touched"
          [dirty]="departureDateProjectField.dirty">
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple id="btnBack" type="button"
                label="Cancelar"
                class="p-button-outlined p-button-warning"
                icon="pi pi-arrow-left"
                [loading]="(loaded$|async)!"
                (click)="back()"></button>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple id="submit" type="submit"
                label="Guardar"
                class="p-button-raised p-button-warning"
                icon="pi pi-save"
                [loading]="(loaded$|async)!"></button>
      </div>
    </div>



































  </form>
</p-panel>
