.p-breadcrumb {
  background: #d49012;
  //position: fixed;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text{
  color: white;
}

.p-breadcrumb ul li.pi{
  color: white;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon{
  color: white;
}
