  <div class="imagen">
    <div class="formgrid grid loginForm">
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12" >
      <a [routerLink]="['/rrhh/events']">
        <div class="texto1">Perris</div>
          <img src="../../../../../assets/images/sala.jpg" class="shadow" alt="Image" width="210">
      </a>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12" >
      <a [routerLink]="['/rrhh/events']">
        <div class="texto1">Perris</div>
          <img src="../../../../../assets/images/sala.jpg" class="shadow" alt="Image" width="210">
      </a>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12" >
      <a [routerLink]="['/rrhh/events']">
        <div class="texto1">Perris</div>
          <img src="../../../../../assets/images/sala.jpg" class="shadow" alt="Image" width="210">
      </a>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12" >
      <a [routerLink]="['/rrhh/events']">
        <div class="texto1">Perris</div>
          <img src="../../../../../assets/images/sala.jpg" class="shadow" alt="Image" width="210">
      </a>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12" >
      <a [routerLink]="['/rrhh/events']">
        <div class="texto1">Perris</div>
          <img src="../../../../../assets/images/sala.jpg" class="shadow" alt="Image" width="210">
      </a>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12" >
      <a [routerLink]="['/rrhh/events']">
        <div class="texto1">Perris</div>
          <img src="../../../../../assets/images/sala.jpg" class="shadow" alt="Image" width="210">
      </a>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12" >
      <a [routerLink]="['/rrhh/events']">
        <div class="texto1">Perris</div>
          <img src="../../../../../assets/images/sala.jpg" class="shadow" alt="Image" width="210">
      </a>
    </div>
  </div>
