  <p-divider></p-divider>
  <div class="imagen">
    <div class="p-fluid loginForm">
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
      <a [routerLink]="['/rrhh/personal-info/new']">
        <!-- <div class="texto1">Perris</div> -->
          <img src="../../../../../assets/images/form.png" class="shadow" alt="Image" width="205">
      </a>
    </div>
    <div class="flex align-items-center">
      <a [routerLink]="['/rrhh/personal-info']">
        <!-- <div class="texto1">Perris</div> -->
          <img src="../../../../../assets/images/peaples.png" class="shadow" alt="Image" width="205">
      </a>
    </div>
    <div class="flex align-items-center">
      <a [routerLink]="['/rrhh/proyect']">        <!-- <div class="texto1">hola</div> -->
          <img src="../../../../../assets/images/proyect.png" class="shadow" alt="Image" width="205">
      </a>
    </div>
    <div class="flex align-items-center">
      <a [routerLink]="['/rrhh/proyect']">
        <!-- <div class="texto1">Perris</div> -->
          <img src="../../../../../assets/images/asingnament.png" class="shadow" alt="Image" width="205">
      </a>
    </div>
    <div class="flex align-items-center">
      <a [routerLink]="['/rrhh/events']">
        <!-- <div class="texto1">Perris</div> -->
          <img src="../../../../../assets/images/documents.png" class="shadow" alt="Image" width="205">
      </a>
    </div>
    <div class="flex align-items-center">
      <a [routerLink]="['/rrhh/holiday']">
        <!-- <div class="texto1">Perris</div> -->
          <img src="../../../../../assets/images/vacations.png" class="shadow" alt="Image" width="205">
      </a>
    </div>
    <div class="flex align-items-center">
      <a [routerLink]="['/rrhh/evaluation']">
        <!-- <div class="texto1">Perris</div> -->
          <img src="../../../../../assets/images/evaluation.png" class="shadow" alt="Image" width="205">
      </a>
    </div>
  </div>
  </div>
