
<p-panel class="p-fluid">
    <h1 class="panel-header text-center">DOCUMENTOS</h1>
  <p-divider></p-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-10"></div>
      <div class="field xl:col-7 lg:col-7 md:col-7 sm:col-10">
      <div class="formgrid grid" class="field xl:col-6 lg:col-6 md:col-6 sm:col-10">
        <label appLabel for="user" label="Seleccionar empleado:" [required]="userField"></label>
        <p-dropdown id="user" formControlName="user" dataKey="id" [options]="names" optionLabel="names" [filter]="true"
          filterBy="identificationCode" placeholder="Nombre del empleado">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="userField.value">
              <div>{{userField.value.names}}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{item.identificationCode}}
          </ng-template>
        </p-dropdown>
        <small appErrorMessage [errors]="userField.errors" [touched]="userField.touched" [dirty]="userField.dirty">
        </small>
      </div>
    </div>
  </div>
      <p-divider></p-divider>
      <!-- pregunta1 -->
      <div class="formgrid grid">
        <div class="field xl:col-7 lg:col-7 md:col-7 sm:col-10">
          <h2 class="panel-header text-center">Hoja de vida</h2>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="note1" [required]="note1Field"></label>
        <p><p-inputSwitch formControlName="note1"></p-inputSwitch></p>
        <small appErrorMessage [errors]="note1Field.errors" [touched]="note1Field.touched" [dirty]="note1Field.dirty">
        </small>
      </div>
    </div>
    <p-divider></p-divider>
    <!-- pregunta2 -->
    <div class="formgrid grid">
      <div class="field xl:col-7 lg:col-7 md:col-7 sm:col-10">
        <h2 class="panel-header text-center">Curriculum vitae</h2>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="note2" [required]="note2Field"></label>
        <p><p-inputSwitch formControlName="note2"></p-inputSwitch></p>
        <small appErrorMessage [errors]="note2Field.errors" [touched]="note2Field.touched" [dirty]="note2Field.dirty">
        </small>
      </div>
    </div>
    <p-divider></p-divider>
    <!-- pregunta3 -->
    <div class="formgrid grid">
      <div class="field xl:col-7 lg:col-7 md:col-7 sm:col-10">
        <h2 class="panel-header text-center">Constancias educativas</h2>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="note3" [required]="note1Field"></label>
        <p><p-inputSwitch formControlName="note3"></p-inputSwitch></p>
        <small appErrorMessage [errors]="note3Field.errors" [touched]="note3Field.touched" [dirty]="note3Field.dirty">
        </small>
      </div>
    </div>
    <p-divider></p-divider>
    <!-- pregunta4 -->
    <div class="formgrid grid">
      <div class="field xl:col-7 lg:col-7 md:col-7 sm:col-10">
        <h2 class="panel-header text-center">Contrato de relación laboral </h2>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="note4" [required]="note4Field"></label>
        <p><p-inputSwitch formControlName="note4"></p-inputSwitch></p>
        <small appErrorMessage [errors]="note4Field.errors" [touched]="note4Field.touched" [dirty]="note4Field.dirty">
        </small>
      </div>
    </div>
    <p-divider></p-divider>
    <!-- pregunta5 -->
    <!-- <div class="formgrid grid">
      <div class="field xl:col-7 lg:col-7 md:col-7 sm:col-10">
        <h2 class="panel-header text-center">Hoja de vida</h2>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="note5" [required]="note5Field"></label>
        <p><p-inputSwitch formControlName="note5"></p-inputSwitch></p>
        <small appErrorMessage [errors]="note5Field.errors" [touched]="note5Field.touched" [dirty]="note5Field.dirty">
        </small>
      </div>
    </div> -->
    <p-divider></p-divider>
    <!-- final -->
    <!-- <div class="formgrid grid">
      <div class="field xl:col-7 lg:col-7 md:col-7 sm:col-10">
        <label appLabel for="observation" label="Coloque la observación" [required]="observationField"></label>
        <input pInputText type="text" id="observation" formControlName="observation"/>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="noteF" label="Coloque la nota final:" [required]="noteFField"></label>
        <p-dropdown [options]="calificacion" [(ngModel)]="selectedCalif" optionLabel="name" optionValue="name"
          formControlName="noteF"></p-dropdown>
        <small appErrorMessage [errors]="noteFField.errors" [touched]="noteFField.touched" [dirty]="noteFField.dirty">
        </small>
      </div>
    </div> -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple id="btnBack" type="button"
                label="Cancelar"
                class="p-button-outlined p-button-warning"
                icon="pi pi-arrow-left"
                [loading]="(loaded$|async)!"
                (click)="back()"></button>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple id="submit" type="submit"
                label="Guardar"
                class="p-button-raised p-button-warning"
                icon="pi pi-save"
                [loading]="(loaded$|async)!"></button>
      </div>
    </div>

  </form>
</p-panel>
